body {
  margin: 0;
  background-color: teal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  justify-content: center;
}
.container {
  width: 300px;
  height: 300px;
  border: 2px solid white;
  /* animation: orbit 1s linear infinite; */
  border-radius: 50%;
  animation: slide-in 1s;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  /* animation: circle 1s; */
  /* animation: slide-in 1s; */
  animation: orbit 1s;

  /* animation-iteration-count: infinite;
  animation-direction: normal; */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  animation: up-down 0.8s ease infinite alternate;
}
.dot:nth-child(2) {
  animation-delay: 0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.2s;
}
.dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes up-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-400px);
  }
  100% {
    transform: translate(200px);
  }
}

@keyframes circle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(200px, 0);
  }
  50% {
    transform: translate(200px, 200px);
  }
  75% {
    transform: translate(0, 200px);
  }
}
